{% extends 'base.html.twig' %}

{% block activite %}
	<style>
		
		.main-activite
		{
			display:none;
		}

	</style>
{% endblock %}

{% block body %}
    <div class="col-md-12 main-accueil">=
		<img class="illustration-var" src="{{ asset('img/parchemin.png') }}">
		<div class="col-md-12 ">

		</div>
    </div>
{% endblock %}
