{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12 main-accueil">=
		<img class="illustration-var" src="{{ asset('img/parchemin.png') }}">
		<div class="col-md-12 ">

		</div>
    </div>
{% endblock %}
