/* GLOBAL */

.illustration
{
	height:100%;
	width:100%;
	position:fixed;
	top:0%;
	left:0%;
	z-index:-3;
}

.illustration-var
{
	height:100%;
	width:100%;
	position:absolute;
	top:0%;
	left:0%;
}

.empty-div
{
	height:25px;
}

.register-div
{
	min-height:500px;
	padding:50px;
}

.register-form
{
	margin-top:25px;
}

.register-title
{
	text-align:center;
}

.register-but
{
	margin-top:25px;
}

/* HEADER */

.header-top
{
	text-align:center;
	height:150px;
	background-color:#DF7401;
	position:relative;
}

.header-top img
{
	height:100%;
	width:100%;
	position:absolute;
	top:0%;
	left:0%;
}

/* CONTENT */

.nav-left
{
	background-color:black;
	height:500px;
	padding:10px;
}

.nav-text, .nav-text-alt
{
	background-color:#2A120A;
	margin-top:10px;
}

.nav-text a
{
	color:#DBA901;
}

.nav-text-alt a
{
	color:#FF4000;
}

.main-accueil
{
	height:500px;
}

.main-activite-extend
{
	height:200px;
	overflow-y:scroll;
	background-color:#2A120A;
	border:solid #61210B 10px;
	margin-top:25px;

}

.main-activite
{
	height:300px;
	overflow-y:scroll;
	background-color:#2A120A;
	border:solid #61210B 10px;
	margin-top:25px;

}

.main
{
	min-height:570px;
	background-color:#61210B;
	padding:10px;
	position:relative;
}

.main-perso-locate
{
	height:200px;
	border:solid black 1px;
	background-color:#DF7401;
	position:relative;
}

.main-perso-states
{
	margin-top:50px;
	padding-top:10px;
	height:300px;
	text-align:center;
}

.main-perso-states-div
{
	text-align:left;
}

.main-perso-visual
{
	height:550px;
	border:solid black 1px;
	background-color:#424242;
	position:relative;
}

.main-perso-visual .perso
{
	position:absolute;
	height:100%;
	left:0%;
	padding:10px;
}

.main-perso-inventaire-text
{
	height:50px;
}

.main-perso-inventaire-text h2
{
	color:#FFFFFF;
	font-size:2em;
}

.main-perso-inventaire-text h2 img
{
	height:30px;
	width:30px;
}

.main-perso-inventaire
{
	height:300px;
}

.equip-item
{
	height:75px;
	border:solid black 1px;
	background-color:#FFFFFF;
	margin-top:10px;
	text-align:center;
}

.inventaire-item
{
	margin-top:10px;
	height:65px;
	border:solid black 1px;
	position:relative;
}

.inventaire-item-text
{
	position:absolute;
	font-size:20px;
	top:0%;
	right:0%;
	color:yellow;
}

.faction-div
{
	min-height:400px;
	position:relative;
	padding-top:30px;
	text-align:center;
}

.faction-img img
{
	width:130px;
	height:auto;
	text-align:center;
	margin:auto;
}

.faction-div .parch
{
	height:100%;
	width:100%;
	position:absolute;
	top:0%;
	left:0%;
}

.faction-access
{
	text-align:center;
}

.faction-desc
{
	min-height:170px;
	text-align:center;
}

.map-left
{
	height:470px;
}

.map-right
{
	height:470px;
	padding-top:10px;
}

.map-locale-main
{
	height:450px;
	background-color:#2A120A;
	padding:10px;
	overflow-y:scroll;
}

.map-locale-player
{
	min-height:100px;
	padding:20px;
}

.map-locale-player-text
{
	padding-top:10px;
}

.map-locale-player-acatar
{
	height:60px;
	border:solid black 1px;
}

.map-main
{
	min-height:470px;
	background-color:#61210B;
	padding:10px;
	position:relative;
}

/* MESSAGERIE */

.messagerie-player
{
	background-color:#61210B;
	min-height:80px;
	padding:10px;
	margin-top:10px;
	border: solid #F3E2A9 1px;
}

.msg-sign
{
	padding:10px;
}

.message-box
{
	height:300px;
	background-color:#61210B;
	margin-top:25px;
}

.message-dest
{
	height:50px;
	margin-top:10px;
}

.message-dest input
{
	width:100%;
}

.message-content
{
	height:220px;
	margin-top:10px;
}

.messagerie-content
{
	height:auto;
	display:none;
	background-color:#F3E2A9;
	padding:10px;
	margin-top:10px;
}

.messagerie-auteur p
{
	font-size:20px;
	margin-top:5px;
	color:#DBA901;
}

.message-content textarea
{
	width:100%;
	height:100%;
	background-color:#61210B;
	color:#DBA901;
	resize: none;
	padding:10px;
}

.avatar-content
{
	height:180px;
}

.avatar-box
{
	min-height:300px;
	background-color:#61210B;
	margin-top:25px;
	padding:10px;
}

.king-but
{
	margin-top:65px;
	text-align:center;
}

/* FOOTER */

.top-footer
{
	height:10px;
	background-color:#F3E2A9;
}

.main-footer
{
	height:200px;
	background-color:#333331;
}

